/* GENERAL STYLE FOR THE WHOLE PROJECT */
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: rgb(11, 34, 77);
  padding: 0;
  margin: 0;
  width: 100vw; /* viewport width */
  height: 100vh; /* viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* GAME CARD */
.game-card {
  width: 500px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px;
  padding: 10px;
  box-shadow: 0 5px 25px 0px rgba(17, 23, 24, 0.704);
}
/* GAME LOGO AR START SCREEN */
.game-logo-start img {
  padding: 10px;
  margin: 50px 0px 10px 0px;
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-logo-start {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* QUESTION + ANSWER SECTION */
#question-box {
  margin: 0px;
}
#question {
  margin: 0px;
  text-align: center;
  font-weight: bolder;
  background-color: rgb(40, 66, 116);
  color: white;
}
.answer-box {
  margin: 50px 0px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}
.start-game {
  margin: 15px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-btn {
  font-size: 2.5rem;
  font-weight: bold;
}
.answer-btn {
  background-color: cornflowerblue;
}
.btn {
  background-color: #6495ed;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  box-shadow: 5px 5px rgb(193, 192, 192);
}
.btn:hover {
  border: white;
  background-color: rgb(151, 177, 224);
  color: white;
}
.hide {
  display: none;
}
/* YOU WIN SCREEN */
.you-win-img {
  padding: 0px;
  position: relative;
  margin: 0px 0px 0px 45px;
  width: 390px;
  height: 390px;
  bottom: 2px;
  left: 2px;
}
#restart-btn-win {
  padding: 0px 10px 0px 10px;
  margin: 0px 0px 0px 300px;
}
.restart-btn-win {
  margin: 20px 0px 0px 0px;
  position: relative;
  font-size: 1.9rem;
  font-weight: bold;
  bottom: 150px;
  left: 280px;
}
/* GAME OVER SCREEN */
.game-over-img {
  padding: 0px;
  margin: 40px 10px 0px 35px;
  width: 400px;
  height: 200px;
}
.restart-btn-over {
  margin: 20px 0px 0px 0px;
  font-size: 1.9rem;
  font-weight: bold;
  position: relative;
  bottom: -20px;
  left: 160px;
}
